app-network-node{
  display: block;
  width: 15rem;
  height: min-content;
}

app-network-node.resizable{
  resize: both;
  overflow: auto;
}

/* .example-container {
  width: 100%;
  height: 100%;
} */
