<ngx-graph
  class="chart-container"
  [links]="ngxGraphEdges"
  [nodes]="ngxGraphNodes"
  [layout]="layout"
  [layoutSettings]="layoutSettings"
>
<ng-template #defsTemplate>
  <svg:marker
    id="arrow"
    viewBox="0 -5 10 10"
    refX="8"
    refY="0"
    markerWidth="4"
    markerHeight="4"
    orient="auto"
  >
    <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
  </svg:marker>
</ng-template>

<ng-template #nodeTemplate let-node>
  <svg:g class="node"ngx-tooltip>
    <foreignObject #nodeSvg width="15rem" height="15rem">
      <app-network-node
        #node
        [id]="node.variables.key"
        [variable]="node.variables"
        class="card">
      </app-network-node>
    </foreignObject>
  </svg:g>
</ng-template>

<ng-template #linkTemplate let-link>
  <svg:g class="edge">
    <svg:path
      class="line"
      stroke-width="4"
      marker-end="url(#arrow)"
    ></svg:path>
  </svg:g>
</ng-template>
</ngx-graph>
