app-network-node{
  display: block;
  width: 15rem;
  height: min-content;
  background-color: whitesmoke;
}

app-network-node:hover{
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: black;
}
