<mat-toolbar class="mat-header" color="primary">
  <mat-toolbar-row>
    <span>Bayes Credit App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="drawer.toggle()">Поточні запити</button>
    <span class="minimal-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container #drawerContainer class="mat-drawer-container">
  <mat-drawer #drawer mode="side" position="end" class="mat-sidebar">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <app-bayesian-network #bn></app-bayesian-network>
</mat-drawer-container>
