.content-container{
  display: flex;
  height: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.minimal-spacer{
  margin-right: 1%;
}

.mat-drawer-container {
  height: calc(100% - var(--navbar-height));
}

.mat-header{
  height: var(--navbar-height);
  width: 100%;
  position: relative;
  z-index: 2;
}

.mat-sidebar{
  width: 25%;
}

app-bayesian-network{
  display: block;
  /* display: grid;
  grid-template-columns: repeat(4, 15rem);
  grid-template-rows: repeat(3, 15rem); */
  width: 100%;
  height: 100%;
  overflow: auto;
}
