

.example-spacer {
  flex: 1 1 auto;
}

.minimal-spacer{
  margin-right: 1%;
}

.mat-drawer-container {
  height: calc(100% - var(--navbar-height));
}

.mat-header{
  height: var(--navbar-height);
  width: 100%;
}

.mat-sidebar{
  width: 400px;
}

app-bayesian-network{
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}
