.sidebar-node{
  margin: 5%;
}

.sidebar-header{
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.node-content{
  display: flex;
  justify-content: space-between;
}

label{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 30%;
}

.proba-bar-inner{
  display: inline-block;
  height: 60%;
  background-color: #153ab1;
  vertical-align: middle;
}

.proba{
  width: 20%;
}
