h5{
  margin-left: 10px;
  font-size: 14px;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 10px;
}

label{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  margin-top: 3px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.inference-button{
  margin-right: 20px;
  margin-bottom: 20px;
  width: 50px;
}

.node-content{
  display: flex;
  justify-content: space-between;
}

.node-tools-panel{
  display: flex;
  justify-content: flex-end;
}

.proba-bar-inner{
  display: inline-block;
  height: 60%;
  background-color: #153ab1;
  vertical-align: middle;
}

.proba{
  width: 20%;
  font-size: 12px;
}
