ul {
  list-style-type: none;
  padding-left: 10px;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-right: 10px;
}

.node-content{
  display: flex;
  justify-content: space-between;
}

label{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 30%;
}

/* .proba-bar-outer{
  width: 50%;
  padding-right: 1%;
} */

.proba-bar-inner{
  display: inline-block;
  height: 60%;
  background-color: #153ab1;
  vertical-align: middle;
}

.proba{
  width: 20%;
}

.node-tools-panel{
  display: flex;
  justify-content: flex-end;
}

.inference-button{
  margin-right: 20px;
  margin-bottom: 40px;
  width: 50px;
}
